# 무시할 빌드 디렉토리
build-*/
build/

# Qt Creator 설정 파일
*.pro.user
*.pro.user.*

# 자동 생성 파일
moc_*.cpp
ui_*.h
qrc_*.cpp

# 중간 산출물
*.o
*.obj
*.so
*.dll
*.exe
*.a
*.log

# 백업파일
*.autosave
*.swp
*.bak

# OS 특화
.DS_Store
Thumbs.db

#무시할 프로젝트 폴더

FileTransferClient/
FileTransferServer/
MainUIApp/
ModelandView/
PainterApp/
RssReaderApp/
SaveUrls/
TableApp/
TcpServer/
TreeApp/
UDP/
UIApp/
databaseExample/
echoclient/
ftpclient/
ftpserver/
josnparsing/
phoneBookTree/

